<div class="around-everything">
<h2 class="align-center"><strong>Log in into Krello</strong></h2>
<p class="name2 around-email">
    Email:</p>
<input class="width form-control" placeholder="e.g., hg@spew.org.uk" ng-model="credentials.email"></input>
<p class="around-password">
    Password:
</p>
<input type="password"class="width form-control" placeholder="e.g., ........." ng-model="credentials.password"></input>
<div style="text-align:center;">
<button class="new-account btn btn-info" ng-click="login()">Log in</button>
</div>
<p class="around-signin">
  Don't have an account? <a id="take-to-signin"ui-sref="Signup">Sign Up</a>
</p>
</div>
